# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: circleci/python:3.6.1
      
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: upgrade pip
          command: |
            python3 -m venv venv
            . venv/bin/activate
            python -m pip install --upgrade pip
            
      - run:
          name: install dependencies
          command: |
           . venv/bin/activate
           pip install -r requirements.txt

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}
        
      # run tests!
      # this example uses Django's built-in test-runner
      # other common Python testing frameworks include pytest and nose
      # https://pytest.org
      # https://nose.readthedocs.io
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            #python main.py

      #- store_artifacts:
          #path: test-reports
          #destination: test-reports

  deploy:
    working_directory: ~/repo
    docker:
      - image: google/cloud-sdk
      
    steps:
      - checkout

      - run:
          name: Copy Credentials
          
          command: |
            echo -e $DEV_CONFIG > test.conf

      - run:
          name: Deploy to Google App Engine
          branch: master
          command: |
            #Authentication
            echo $DEV_GAE_DEPLOY_USER_KEY > /tmp/secret.json
            gcloud auth activate-service-account $DEV_GAE_DEPLOY_USER --key-file /tmp/secret.json
            gcloud --quiet config set project $DEV_GCP_PROJECT

            gcloud --quiet app deploy app.yaml --version=ima4
          no_output_timeout: 20m

workflows:
  version: 2
  BunldAndDeploy:
    jobs:
      - build
      - deploy